.grid {
    border: 3px solid;
    display: table-cell;
}

.small_grid.hidden{
    width: 0px;
    height: 0px;
    visibility: hidden;
}

.small_digit{
    width:27px;
    height:27px;
    font-size: 20px;
    border:0px solid;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    background-color: white;
    cursor: default;
    color: gray;
}

.small_digit.black, .small_digit.black.remove{
    color: white;
    background-color: white;
}

.small_digit.red{
    color: red;
    font-weight:bolder;
}

.small_digit.blue {
    color: blue;
    font-weight:bolder;
}

.small_digit.green {
    color: green;
    font-weight:bolder;
}

.small_digit.remove{
    color: #EEEEEE;
    background-color: #EEEEEE;
}

.small_digit.over{
    background-color: lightgreen;
}

.small_digit.highlight{
    background-color: lightgreen;
}

.big_digit{
    width:81px;
    height:81px;
    font-size:50px;
    border:0px solid;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    background-color: white;
    cursor: default;
}

.big_digit.over{
    background-color: lightgreen;
}

.big_digit.highlight{
    background-color: lightgreen;
}

.big_digit.hidden{
    width: 0px;
    height: 0px;
    visibility: hidden;
}

.digit{
    width:81px;
    height:81px;
    border:1px solid;
    text-align:center;
    font-size: xx-large;
    display:table-cell;
    vertical-align:middle;
}

.digit.top{
    border-top: 3px solid;
}

.digit.bottom{
    border-bottom: 3px solid;
}

.digit.left{
    border-left: 3px solid;
}

.digit.right{
    border-right: 3px solid;
}