.grid {
    border: 3px solid;
    display: table-cell;
}

.small_digit{
    width:9px;
    height:9px;
    font-size: 12px;
    border:0px solid;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    background-color: white;
    cursor: default;
}

.small_digit.black, .small_digit.black.remove{
    color: white;
    background-color: white;
}

.small_digit.remove{
    color:lightgray;
    background-color: lightgray;
}

.small_digit.over{
    background-color: gray;
}

.small_digit.highlight{
    background-color: gray;
}

.big_digit{
    width:81px;
    height:72px;
    border:0px solid;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    background-color: white;
    cursor: default;
}

.big_digit.over{
    background-color:gray;
}

.big_digit.highlight{
    background-color: gray;
}

.digit{
    width:81px;
    height:81px;
    border:1px solid;
    text-align:center;
    font-size: xx-large;
    display:table-cell;
    vertical-align:middle;
}

.digit.top{
    border-top: 3px solid;
}

.digit.bottom{
    border-bottom: 3px solid;
}

.digit.left{
    border-left: 3px solid;
}

.digit.right{
    border-right: 3px solid;
}